body{
    background-image: linear-gradient(to top, #f1f1f1, #ffffff);
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: rgb(12, 3, 82);
    font-size: 11px;
    margin: 0;

}

main {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    bottom:10;
    margin: auto;
    text-align: center;
    justify-content: center;
}
.HeaderContainer{
    justify-content: center;
    text-align: center;
}

.RespostaContainer{
    color: rgb(97, 97, 143);
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 40px 10px 0px 10px;
    min-width: 25px;
    max-width: 50vh;
}

.UserContainer{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px 25px 25px;
    text-align: center;
}

.UserContainer Input, .UserContainer button{
    background-color: white;
    color: rgb(12, 3, 82);
    padding: 5px 20px;
    border-radius: 20px;
    border: 0;
    font-size: 11px;
    margin: 2px;
}

.UserContainer input{
    border-radius: 20px;    
    border: 0;
    font-size: 11px;
    height: 32px;
    width: 200px;
}

.UserContainer button{
    cursor: pointer;
    background-color: rgb(37, 37, 255);
    height: 40px;
}
button img{
    width: 17px;
    margin: 0;
    padding: 0;
}
#resposta{
    border-radius: 20px;
    word-wrap: break-word;
    padding: 10px;
    white-space: pre-wrap;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    text-align: center;
    background-color: #f1f1f1;
    color: rgb(12, 3, 82);
    font-size: 7px;
}
